In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
o = pd.read_csv('data_october.csv', index_col = 0)
n = pd.read_csv('data_november.csv', index_col = 0)
d = pd.read_csv('data_december.csv', index_col = 0)

In [7]:
data = pd.concat([o, n, d], ignore_index = True)
print(data)

       Unnamed: 0               event_time event_type  product_id  \
0               0  2019-10-01 00:00:00 UTC       cart   5773203.0
1               1  2019-10-01 00:00:03 UTC       cart   5773353.0
2               2  2019-10-01 00:00:07 UTC       cart   5881589.0
3               3  2019-10-01 00:00:07 UTC       cart   5723490.0
4               4  2019-10-01 00:00:15 UTC       cart   5881449.0
...           ...                      ...        ...         ...
62641     3533281  2019-12-31 23:59:39 UTC       view   5683350.0
62642     3533282  2019-12-31 23:59:46 UTC       view   5888097.0
62643     3533283  2019-12-31 23:59:51 UTC       view     59975.0
62644     3533284  2019-12-31 23:59:52 UTC       view   5775982.0
62645     3533285  2019-12-31 23:59:57 UTC       view   5635090.0

        category_id category_code   brand   price      user_id  \
0      1.487580e+18           NaN  runail    2.62  463240011.0
1      1.487580e+18           NaN  runail    2.62  463240011.0
2      2.151191e+18           NaN  lovely   13.48  429681830.0
3      1.487580e+18           NaN  runail    2.62  463240011.0
4      1.487580e+18           NaN  lovely    0.56  429681830.0
...             ...           ...     ...     ...          ...
62641  1.487580e+18           NaN  masura    2.84  536812729.0
62642  1.487580e+18           NaN    shik  179.05  503658154.0
62643  1.487580e+18           NaN     NaN    7.14  595414541.0
62644  1.783999e+18           NaN     NaN   11.90  397780878.0
62645  1.487580e+18           NaN     NaN    4.44  420652863.0

                               user_session
0      26dd6e6e-4dac-4778-8d2c-92e149dab885
1      26dd6e6e-4dac-4778-8d2c-92e149dab885
2      49e8d843-adf3-428b-a2c3-fe8bc6a307c9
3      26dd6e6e-4dac-4778-8d2c-92e149dab885
4      49e8d843-adf3-428b-a2c3-fe8bc6a307c9
...                                     ...
62641  e4a2d47c-a956-4c46-8176-745f52ea664b
62642  2dde9867-9e71-4a64-880d-aa68b66aae6d
62643  4c6d80bb-5dd3-4fbb-b592-187b51db2753
62644  7e8a2b85-153a-44eb-a71f-b748fde14fcc
62645  546f6af3-a517-4752-a98b-80c4c5860711

[62646 rows x 10 columns]

In [9]:
def salerevenue(df1):
    df1.drop_duplicates(inplace = True)
    df2 = df1.dropna(subset = ['brand'])
    total_sales = 0
    total_income = 0
    for i in df2.index:
        if df2.loc[i,'event_type'] == 'purchase':
            total_income += df2.loc[i,'price']
            total_sales += 1
    return (total_sales,total_income)


print("In the month of October:")
total_sales,total_income = salerevenue(o)
print("\tTotal number of sales: ",total_sales)
print("\tTotal income: ",total_income)
print('\n')

print("In the month of November:")
total_sales,total_income = salerevenue(n)
print("\tTotal number of sales: ",total_sales)
print("\tTotal income: ",total_income)
print('\n')

print("In the month of December:")
total_sales,total_income = salerevenue(d)
print("\tTotal number of sales: ",total_sales)
print("\tTotal income: ",total_income)

In the month of October:
	Total number of sales:  1093
	Total income:  5179.0799999999745


In the month of November:
	Total number of sales:  969
	Total income:  4958.219999999997


In the month of December:
	Total number of sales:  764
	Total income:  3684.009999999999

In [10]:
def brands(df):
    df.drop_duplicates(inplace=True)
    df2 = df.dropna(subset=["brand"])
    sales = {}
    for i in df2.index:
        if df2.loc[i,"event_type"] == "purchase":
            brand = df2.loc[i,"brand"]
            if brand in sales.keys():
                sales[brand][0] += 1
                sales[brand][1] += df2.loc[i,'price']
            else:
                sales[brand] = [1,df2.loc[i,'price']]
    sorted_saleswise = sorted(sales.items(),key= lambda x:x[1][0],reverse = True)
    sorted_incomewise = sorted(sales.items(),key= lambda x:x[1][1],reverse = True)
    print("\tTop five brands according to number of sales:")
    for i in range(0,5):
        print("\t",i+1,sorted_saleswise[i][0], sorted_saleswise[i][1][0])
    print("\n")
    print("\tTop five brands according to revenue:")
    for i in range(0,5):
        print("\t",i+1,sorted_incomewise[i][0],sorted_incomewise[i][1][1])
        
print("October:")
brands(o)
print("\n")
print("November:")
brands(n)
print("\n")
print("December:")
brands(d)

October:
	Top five brands according to number of sales:
	 1 runail 343
	 2 irisk 89
	 3 masura 89
	 4 bpw.style 51
	 5 bluesky 47


	Top five brands according to revenue:
	 1 runail 971.1200000000001
	 2 uno 433.5699999999999
	 3 irisk 261.77
	 4 masura 232.50000000000003
	 5 italwax 214.11999999999992


November:
	Top five brands according to number of sales:
	 1 irisk 241
	 2 runail 94
	 3 masura 92
	 4 ingarden 47
	 5 bpw.style 40


	Top five brands according to revenue:
	 1 irisk 623.720000000001
	 2 strong 583.3199999999999
	 3 runail 327.48
	 4 masura 227.64
	 5 ingarden 216.92000000000002


December:
	Top five brands according to number of sales:
	 1 runail 125
	 2 bpw.style 77
	 3 grattol 55
	 4 freedecor 51
	 5 irisk 46


	Top five brands according to revenue:
	 1 runail 421.5599999999999
	 2 grattol 325.4800000000001
	 3 irisk 219.63000000000005
	 4 ingarden 188.52999999999994
	 5 jessnail 180.2

In [12]:
import numpy as np
import matplotlib.pyplot as plt
  
N = 3
ind = np.arange(N) 
width = 0.25
  
xvals = [df[df['brand']=='runail']['price'].sum(), df[df['brand']=='irisk']['price'].sum(), df[df['brand']=='masura']['price'].sum()]
bar1 = plt.bar(ind, xvals, width, color = 'y')
  
yvals = [df2[df2['brand']=='runail']['price'].sum(), df2[df2['brand']=='irisk']['price'].sum(), df2[df2['brand']=='masura']['price'].sum()]
bar2 = plt.bar(ind+width, yvals, width, color='c')
  
zvals = [df3[df3['brand']=='runail']['price'].sum(), df3[df3['brand']=='irisk']['price'].sum(), df3[df3['brand']=='masura']['price'].sum()]
bar3 = plt.bar(ind+width*2, zvals, width, color = 'orange')
  
plt.xlabel("Brands")
plt.ylabel("Sales")
plt.title("Top 3 Brands' Sales")
  
plt.xticks(ind+width,['runail', 'irisk', 'masura'])
plt.legend( (bar1, bar2, bar3), ('October', 'November', 'December') )
plt.show()

NameError: name 'df' is not defined